@model HomeViewModel

<section id="newsletter">
    <div class="container">
        <div class="title-box">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/squiggly-arrows.svg" alt="">
        </div>
        <form method="post" asp-controller="Home" asp-action="Subscribe" novalidate>
            <div class="sign-up">
                <h5>Sign up for <br>Newsletters</h5>
                    <div class="content">
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.DailyNewsLetter">
                            <label asp-for="@Model.Newsletter.DailyNewsLetter"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.AdvertisingUpdates">
                            <label asp-for="@Model.Newsletter.AdvertisingUpdates"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.WeekInReview">
                            <label asp-for="@Model.Newsletter.WeekInReview"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.EventUpdates">
                            <label asp-for="@Model.Newsletter.EventUpdates"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.StartupsWeekly">
                            <label asp-for="@Model.Newsletter.StartupsWeekly"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="@Model.Newsletter.Podcasts">
                            <label asp-for="@Model.Newsletter.Podcasts"></label>
                        </div>

                    </div>
            </div>
                <span asp-validation-for="@Model.Newsletter.Email"></span>
            <div class="signup-box">
                <div class="mail-input">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="@Model.Newsletter.Email">
                </div>
                <button class="btn-theme" type="submit">Subscribe*</button>
            </div>
            <p>*Yes, I agree to the <a asp-controller="Policys" asp-action="Terms">terms</a> and <a asp-controller="Policys" asp-action="PrivacyPolicy">privacy policy</a>.</p>
            <p>@Model.DisplayMessage</p>
        </form>
    </div>
</section>
<partial name="~/Views/Sections/GeneralSections/_ValidationScriptPartial.cshtml" />