@model CoursesViewModel


<section class="courses">
    <div class="container">
        <div class="link-box">
            <a asp-controller="Home" asp-action="Index"><i class="fa-thin fa-house"></i>Home</a>
            <p class="link-box-arrows"><i class="fa-solid fa-chevrons-right"></i></p>
            <p>Courses</p>
        </div>
        <div class="title-box">
            <h1>
                Courses
            </h1>

            <form class="filter-box">
                <div class="select">
                    <div class="selected">All categories</div>
                    <div class="select-options">
                        <div class="option" data-value="all">All categories</div>
                        @if(Model.CategoryList!.Count() != 0)
                        {
                            foreach(var category in Model.CategoryList!)
                            {
                                <div class="option" data-value="@category.Name">@category.Name</div>
                            }
                        }
                        
                    </div>
                </div>
                <div class="input-box">
                    <input id="searchQuery" name="searcQuery" type="text" placeholder="Search courses">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
        </div>
        <p>@Model.DisplayMessage</p>

        <div class="content">
            @if (Model.CourseList!.Count() != 0)
            {
                @foreach (var item in Model.CourseList!)
                {

                    var decimalProcent = item.LikesInProcent;
                    var showProcent = Math.Floor(decimalProcent);

                    var decimalLikes = item.LikesInNumbers;
                    var showLikes = Math.Floor(decimalLikes / 100) / 10;


                    <div class="content-box">
                        <a asp-controller="Courses" asp-action="SingleCourse" asp-route-id="@item.Id">
                            <div class="img-box">
                                <img src="@item.ImageName" alt=$"{@item.Title} image">
                                @if (item.IsBestSeller)
                                {
                                    <div class="best-seller">Best Seller</div>
                                }
                            </div>
                            <div class="content-text-box">
                                <h5>@item.Title</h5>
                                <p class="author">By @item.Author</p>
                                @if (item.DiscountPrice == 0)
                                {
                                    <p class="price">$@item.OriginalPrice</p>
                                }
                                else
                                {
                                    <div class="discount-price-box">
                                        <p class="discount-price">$@item.DiscountPrice</p>
                                        <p class="original-price">$@item.OriginalPrice</p>
                                    </div>
                                }
                                <hr>
                                <div class="time-raiting">
                                    <p><i class="fa-light fa-clock"></i>@item.Hours hours</p>
                                    <p><i class="fa-light fa-thumbs-up"></i>@showProcent% (@showLikes)K</p>

                                </div>
                            </div>

                        </a>
                        <a asp-controller="Courses" asp-action="Bookmark" asp-route-id="@item.Id" class="bookmark">
                            @if(Model.SavedList != null)
                            {                            
                                @if(Model.SavedList!.Any(x => x.CourseId == item.Id)){
                                    <i class="fa-sharp fa-solid fa-bookmark saved"></i>
                                }
                                else {
                                    <i class="fa-light fa-bookmark"></i>
                                }
                            }
                            else
                            {
                                <i class="fa-light fa-bookmark"></i>
                            }
                        </a>

                            
                    </div>
                }
            }


        </div>
        @if(Model.Pagination != null && Model.Pagination.TotalPages > 1)
        {
            <div class="pagination">
                @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                {
                    if(i == Model.Pagination.PageNumber)
                    {
                        <span class="btn-theme">@i</span>
                    }
                    else
                    {
                        <a class="btn-gray" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.Pagination.PageSize })">@i</a>
                    }
                }
            </div>
        }
        <div class="work-with-us">
            <div class="work-with-us-content">
                <p>
                    Ready to get started?
                </p>
                <h1>
                    Take Your <span class="theme-color">Skills</span> to the Next Level
                </h1>
                <a class="btn-theme" asp-controller="Career" asp-action="Index">Work with us</a>
            </div>
            <img src="~/images/courses-lady.svg" alt="large legged lady">
        </div>
    </div>
</section>
<script src="/js/filter.js" asp-append-version="true"></script>
